#besoins, #talents, #cours, #projets {
        margin-top: 5em;
}

.page {
        margin-top: 1.5em;
        margin-bottom: 8em;
}

#titre1 {
        margin-left: 0.9em;
        padding-right: 50.4%;
}

#titre2{
        margin-left: 0.9em;
        padding-right: 50.7%;
}

#titre3 {
        margin-left: 0.9em; 
        padding-right: 50%;
}

#titre4 {
        margin-left: 0.9em;
        padding-right: 39%;
}

#titre5 {
        padding-right: 53%;
}

footer {
        text-align: center;
}

.dropdown, dropdown-menu{    
        margin-left: 52%;  
        position: relative;
}

hr {
        -moz-border-bottom-colors: none;
        -moz-border-image: none;
        -moz-border-left-colors: none;
        -moz-border-right-colors: none;
        -moz-border-top-colors: none;
        border-color: #EEEEEE -moz-use-text-color #FFFFFF;
        border-style: solid none;
        border-width: 1px 0;
        margin: 18px 0;
}

#accordion {
        margin-top: 1em;
        margin-bottom: 8em
}

.bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
  }

@media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
}

.inputEmail{ 
        width: 3%;
}

a.bulle { 
        position:relative;
        color:black;
        text-decoration:none;
        text-align:center;
}

a.bulle:hover {
        background: none;
        z-index: 50;
}

a.bulle span {
        display: none;
}

a.bulle:hover span {
        display: block;
        position: absolute;
        top: -40px; 
        left: 0px; 
        font-family:arial, verdana, sans-serif;
        text-align:left;
        font-size:17px;
        color:black;
        font-weight:normal;
        width:520px;
        background: white;
        padding: 5px;
        border: black solid 1px ;
        text-indent: 0;
}
    
.switch-field {
	display: flex;
	margin-bottom: 36px;
	overflow: hidden;
}

.switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.switch-field label {
	background-color: #D3D3D3;
	color: rgba(0, 0, 0, 0.6);
	font-size: 14px;
	line-height: 1;
	text-align: center;
	padding: 8px 16px;
	margin-right: -1px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
	background-color: #F5F5F5;
	box-shadow: none;
}

.switch-field label:first-of-type {
	border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
	border-radius: 0 4px 4px 0;
}