    #besoins, #talents, #cours, #projets {
      margin-top: 5em;
    }

    .page {
      margin-top: 1.5em;
      margin-bottom: 8em;
    }

    #titre1 {
      margin-left: 0.9em;
      padding-right: 50.4%;
    }

    #titre2{
      margin-left: 0.9em;
      padding-right: 50.7%;
    }

    #titre3 {
      margin-left: 0.9em; 
      padding-right: 50%;
    }

    #titre4 {
      margin-left: 0.9em;
      padding-right: 39%;
    }

    #titre5 {
      padding-right: 53%;
    }

    footer {
      text-align: center;
    }

    .dropdown, dropdown-menu{    
       margin-left: 52%;  
       position: relative;
    }

    hr {
      -moz-border-bottom-colors: none;
      -moz-border-image: none;
      -moz-border-left-colors: none;
      -moz-border-right-colors: none;
      -moz-border-top-colors: none;
      border-color: #EEEEEE -moz-use-text-color #FFFFFF;
      border-style: solid none;
      border-width: 1px 0;
      margin: 18px 0;
    }

    #accordion {
      margin-top: 1em;
      margin-bottom: 8em
    }

    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
      
    .inputEmail{ 
        width: 3%;
    }
